
<h1>My to do lists</h1>

    <% @lists.each do |list| %>
    <%= link_to "#{list.name}" , :controller => 'lists', :action => 'show', :id => "#{list.id}" %>
    <p><%= list.description %>
    <%= link_to "Edit"         , :action => 'edit', :id => "#{list.id}" %> |
    <%= link_to "Delete",:id => "#{list.id}" ,:action => :destroy %>
    </p>

          <%end%>
<hr/>


<%= link_to "Add new list","new" %>

<hr/>

<ul id="tablist">
<li><a class="current" href="http://www.cssdrive.com">CSS Drive</a></li>
<li><a href="http://www.yahoo.com">Yahoo</a></li>
<li><a href="http://www.google.com">Google</a></li>
<li><a href="http://www.news.com">News.com</a></li>
</ul>




