<html>
<body>

<h4>To-do lists</h4><br/>

    <% @lists.each do |list| %>
    <br/><%= link_to "#{list.name}" , :controller => 'lists', :action => 'show', :id => "#{list.id}" %><br/>
       <%= list.description %>
       <div id = 'center_bar' align="center"><%= link_to "Edit", :action => 'edit', :id => "#{list.id}" %> |
       <%= link_to "Delete",:id => "#{list.id}" ,:action => :destroy %><br/><br /></div>
    <%end%>


<div id="right-sidebar">
  <ul>
    <li>
      <h2><%= link_to "Add new list","new" %>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      </h2>
    </li>
  </ul>
</div>


</body>
</html>
<!--
<ul id="tablist">
<li><a class="current" href="http://www.cssdrive.com">CSS Drive</a></li>
<li><a href="http://www.yahoo.com">Yahoo</a></li>
<li><a href="http://www.google.com">Google</a></li>
<li><a href="http://www.news.com">News.com</a></li>
</ul>  -->




