<h2><%= @list.name %></h2>
<%= @list.description %>


<h3>Stuff to do</h3>


<table border="1"  cellpadding = 10>


 <%# <ul> %>
  <% @list.tasks.incomplete.each do |task| %>
<%#  <li>  %>
    <tr>
    <td><%= task.description %></td>
    <td><%= button_to "Complete", complete_task_path(@list.id, task.id), :class => 'complete_button' %> </td>
    <td><%= button_to "Delete", destroy_task_path(@list.id, task.id), :class => 'delete_button' %> </td>

    </tr>
    <% end %>
 <%# </li> %>

  <%#</ul> %>

</table>


<h3>Stuff ive done</h3>
<table border class="1 cellpadding = 10" >
<%#<ul id="completed"> %>
  <% @list.tasks.completed.each do |task| %>
  <%# <li> %>
  <tr>
    <td><%= task.description %></td>
    <td><%= button_to "Delete", destroy_task_path(@list.id, task.id), :class => 'delete_button' %></td>
  <%#</li> %>
  </tr>
  <% end %>
<%#</ul> %>


</table>


<div id = "create_task" >
<ul>
<%= form_for [@list,@task], :list_id => @list.id do |form|   %>
 <li>
   <%= form.label "Task description" %><%= form.text_field :description %><br/>
 </li>
   <%= form.label "Complete By   " %>  <%=form.text_field :date %>
   <%#<%= button_to "Create new task", new_task_path(@list.id) %>
   <%= button_to "Create new task", new_list_task_path(@list.id) %>
   <%= link_to "Back to all lists", lists_url %>

<%= link_to "Search", :controller => 'tasks', :action=>'index', :list_id => @list.id%>




<%#    <%= link_to "Search", tasks_path(:list_id => @list.id) %>



 <%#  <% @counter = 1 %>
  <%#<%= link_to "New Task", :action => 'new', :list_id => @list.id  ,:controller => 'tasks' %>

<% end %>
</ul>
</div>
<hr/>



<%= link_to "Back to all lists", lists_url %>
<%= link_to "Search", :controller => 'tasks', :action=>'index', :list_id => @list.id%>
<%#<%= link_to "Search", task_path(@list.id) %>



