
<h4><%= @list.name %></h4>
<%= @list.description %>

<br/><br/> <br/>
<link href="application.css" rel="stylesheet" type="text/css" media="screen" />



    <div id = "right-sidebar" >
         <h2><%= link_to "Search", :controller => 'tasks', :action=>'index', :list_id => @list.id%> </h2>
         <h2><%= link_to "Back to all lists", lists_url %></h2>
         <br/><br/><br/>
            <ul>
                <%= form_for [@list,@task], :list_id => @list.id do |form|   %>
                    <li>
                         <h3><%= form.label "Task description" %>  </h3>
                            &nbsp&nbsp&nbsp&nbsp<%= form.text_field :description, :size => 15%>
                         <h3><%= form.label "Complete By"%></h3>
                            &nbsp&nbsp&nbsp&nbsp<%=form.text_field :date, :size => 15 %>


   <%#<%= button_to "Create new task", new_task_path(@list.id) %>


                         <h2><%= button_to "Create new task", new_list_task_path(@list.id) %></h2>
                    </li>
                <% end %>
            </ul>
    </div>
    <div style="clear: both;">&nbsp;</div>


<h8>Pending Tasks</h8> <br/><br/>
<table border="1"  cellpadding = 10>

  <% @list.tasks.incomplete.each do |task| %>
    <tr>
        <td><%= task.description %></td>
      <!-- <td><%#= button_to "Complete", complete_task_path(@list.id, task.id), :class => 'complete_button' %> </td>  -->
        <td><%= link_to "Complete", complete_task_path(@list.id, task.id), :class => 'complete_button' %> </td>
        <td><%= link_to "Delete", destroy_task_path(@list.id, task.id), :class => 'delete_button' %> </td>
    </tr>
  <% end %>
</table>


<br/><br/><br/>
<h8>Completed Tasks</h8> <br/><br/>
<table border class="1" cellpadding = 10 >

  <% @list.tasks.completed.each do |task| %>

    <tr>
         <td><%= task.description %></td>
         <td><%= link_to "Delete", destroy_task_path(@list.id, task.id), :class => 'delete_button' %></td>

    </tr>
  <% end %>



</table>

