<html>
<body>
<h4><%= @list.name %></h4>
<%= @list.description %>

<link href="application.css" rel="stylesheet" type="text/css" media="screen" />
<h3>Stuff to do</h3>



<div id = "right-sidebar" >
                        <ul>
                            <%= form_for [@list,@task], :list_id => @list.id do |form|   %>
                            <li>
                                 <h2>
                                   <%= form.label "Task description" %>
                                   <%= form.text_field :description, :size => 10%>
                                 </h2>

                                 <h2>
                                   <%= form.label "Complete By"%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                   <%=form.text_field :date, :size => 10 %>
                                 </h2>

   <%#<%= button_to "Create new task", new_task_path(@list.id) %>

                                 <h2><%= button_to "Create new task", new_list_task_path(@list.id) %></h2>


                                 <h2><%= link_to "Back to all lists", lists_url %></h2>

                                 <h2><%= link_to "Search", :controller => 'tasks', :action=>'index', :list_id => @list.id%> </h2>

                            </li>
                            <% end %>
                        </ul>
</div>
                    <div style="clear: both;">&nbsp;</div>



<table border="1"  cellpadding = 10>


 <%# <ul> %>
  <% @list.tasks.incomplete.each do |task| %>
<%#  <li>  %>
    <tr>
        <td><%= task.description %></td>
        <td><%= button_to "Complete", complete_task_path(@list.id, task.id), :class => 'complete_button' %> </td>
        <td><%= button_to "Delete", destroy_task_path(@list.id, task.id), :class => 'delete_button' %> </td>
    </tr>
  <% end %>
 <%# </li> %>

  <%#</ul> %>

</table>


<h3>Stuff ive done</h3>
<table border class="1" cellpadding = 10 >
<%#<ul id="completed"> %>
  <% @list.tasks.completed.each do |task| %>
  <%# <li> %>
    <tr>
         <td><%= task.description %></td>
         <td><%= button_to "Delete", destroy_task_path(@list.id, task.id), :class => 'delete_button' %></td>
  <%#</li> %>
    </tr>
  <% end %>
<%#</ul> %>


</table>











<%#    <%= link_to "Search", tasks_path(:list_id => @list.id) %>



 <%#  <% @counter = 1 %>
  <%#<%= link_to "New Task", :action => 'new', :list_id => @list.id  ,:controller => 'tasks' %>



<hr/>



<%= link_to "Back to all lists", lists_url %>
<%= link_to "Search", :controller => 'tasks', :action=>'index', :list_id => @list.id%>
<%#<%= link_to "Search", task_path(@list.id) %>

 </body>
</html>
