
<table border="1"  cellpadding = 10>

   <tr class="header">
       <!--<th><%#= link_to "Task Name", :sort => "description" %></th>

       <th><%#= link_to "Completion Date", :sort=> "date"%></th>
          -->

       <th>Task Name</th>

       <th>Completion Date</th>

        <div id = "right-sidebar" >
            <h2><%= link_to "Back to all lists", lists_url %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </h2>

        </div>

    <%#   <th><%= link_to "Status", :sort => "completed" %>
   </tr>

 <%#   <% @tasks = Task.find(list.id = :list_id) %>
    <%#<% @tasks = @list.tasks.find(:all, :conditions => ['list_id = ', "%#{params[:list_id]}%"]) %>





      <% @tasks.each do |task| %>
      <tr>
      <td><%= "#{task.description}" %></td>
      <td><%= "#{task.date}" %></td>
      <%#<td><%= "#{task.completed ? "Done" : "Not yet done"}" %>
    </tr>

   <% end %>
</table>
<br/><br/>

<%= will_paginate @tasks %>

