<h1> Search task </h1>


<%#<%= form_tag :controller => 'tasks', :action=>'index', :list_id => @list.id  do %>
<%#<%= form_tag tasks_url(:list_id => @list.id), :list_id => @list.id, :method => 'get' do %>
<%= form_tag list_tasks_path(:list_id => @list.id),  :method => 'get' , :id => "tasks_search" do %>

<p>
  <%= text_field_tag :search , params[:search] %>
  <%= submit_tag "Search"  , :name => nil %>
</p>



<div id ="tasks"> <%= render 'tasks' %></div>
<% end %>