<h1>New Task</h1>


<%= form_for [@list, @task] do |f| %>


    <label>     Name
        <p><%= f.text_field :description %></p>
    </label>  <br/>
    <label> Description
        <p><%= f.text_field :date %></p>
    </label>


    <%= f.submit %>

<% end %>
<hr/>
<%= link_to "Back to all lists", lists_url %>

