

<!DOCTYPE html>
<html>
   <head>
    <title>HomeSpace</title>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" , :defaults%>


    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

    <div id="wrapper">

	    <div id="header-wrapper">
		    <div id="header">
              <div id="user_nav">
                    <% if user_signed_in? %>
                        Signed in as <%= current_user.email %>. Not you?
                        <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
                    <% else %>
                        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
                    <% end %>
              </div>
			  <div id="logo">
				    <h1>HomeSpace</h1>
				    <p>connecting family...</p>
			  </div>
		    </div>
	    </div>


        <div id="menu">
		    <ul>
			    <li class="current page item"><%= link_to "Home", root_path %></li>
			    <li><%= link_to "To-do List", lists_path%></li>
			    <li><%= link_to "Galleries" , galleries_path%></li>
                <li><%= link_to "Places to Visit" %></li>
                <li><%= link_to "Recipes" %></li>
		    </ul>
	    </div>

        <div id="page">
		    <div id="page-bgtop">
			    <div id="page-bgbtm">
				    <div id="content">
                       <div class="post">

                            <% flash.each do |name, msg| %>
                            <%= content_tag :div, msg, :id => "flash_#{name}" %>
                            <% end %>

                            <% if show_title? %>
                                <h1><%= yield(:title) %></h1>
                            <% end %>

                            <%= yield %>
                            <%= debug(params) if Rails.env.development? %>

                        </div>
                       <div style="clear: both;">&nbsp;</div>
                    </div>

                    <!-- <div id="sidebar">
                      <ul>
						<li>
							<h2>Home</h2>
							<%#<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p> %>
                            <h2>To-Do List</h2>
                            <h2>Albums</h2>
						</li>
                      </ul>
                    </div>  -->
                    <div style="clear: both;">&nbsp;</div>
                 </div>
            </div>
        </div>
    </div>


    <div id="footer-wrapper">
	    <div id="footer">
		    <p>Copyright (c) 2011-2012 HomeSpace.com. All rights reserved.</p>
	    </div>
    </div>


  </body>
</html>


<!--
<div id ="tabs" class="nav">
        <%#= link_to "Home", root_path, :class => "nav" %>  |
        <%#= link_to "To-do List", lists_path, :class => "nav" %>   |
        <%#= link_to "Albums", root_path, :class => "nav" %>
      </div>


<div id="container">
      <div id="user_nav">
        <#% if user_signed_in? %>
          Signed in as <%#= current_user.email %>. Not you?
          <%#= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
        <%# else %>
          <%#= link_to "Sign up", new_user_registration_path %> or <%#= link_to "sign in", new_user_session_path %>
        <%# end %>
      </div>
      <br/>
      <br/><br/>
     </div>
-->